---
import MainLayout from "../layouts/MainLayout.astro";
import {
  FaInstagram,
  FaLinkedin,
  FaGithub,
  FaEnvelope,
  FaRocket,
  FaHashnode
} from "react-icons/fa6";

import bubble from "../assets/bubble.png";
import { Picture } from "astro:assets";
---

<MainLayout title="KarthikeyaEnge">
  <main
    class="relative min-w-full min-h-screen hback flex flex-col justify-center items-center overflow-hidden"
  >
    <h1
      class="font-krona lg:text-8xl text-5xl text-center bg-gradient-to-b from-[#a5f5f1ae] via-[#0ff0e579] to-[#ffffff07] py-3 bg-clip-text text-transparent h-full z-10"
    >
      Karthikeya Enge
    </h1>

    <h1
      class="font-krona lg:text-3xl text-xl mt-3 text-center text-[#2dd7ce79] py-3 h-full z-10"
    >
      I AM A DEVELOPER & LEARNER
    </h1>

    <a href="/Home" class="z-10 flex flex-row justify-center items-center">
      <button
        class="font-krona lg:text-2xl text-xl py-2 px-3 bg-[#2dd7ce47] text-[#13dbd1d1] rounded-full ring-0 outline-none lg:mt-10 mt-3 hover:animate-none hover:shadow-2xl hover:shadow-[#61c7c285] z-10 flex justify-center items-center gap-2"
      >
      <FaRocket className="text-[#13dbd1d1] text-2xl" /> Portfolio 
      </button>
    </a>
    <a href="https://karthikeyaenge.hashnode.dev" class="z-10 flex flex-row justify-center items-center lg:-mt-5" target="_blank">
      <button
        class="font-krona lg:text-2xl text-xl py-2 px-3 bg-[#2dd7ce47] text-[#13dbd1d1] rounded-full ring-0 outline-none lg:mt-10 mt-3 hover:animate-none hover:shadow-2xl hover:shadow-[#61c7c285] z-10 flex justify-center items-center gap-2"
      >
      <FaHashnode className="text-[#13dbd1d1] text-2xl" /> Blog
      </button>
    </a>

    <ul
      class="flex flex-row justify-center gap-5 items-center w-2/3 lg:mt-20 self-center mt-28 z-10"
    >
      <li class="relative group">
        <label
        for="play"
        class="absolute hidden group-hover:block text-md -right-5 bg-[#0ff0e544] text-cyan-300 rounded-md -top-11 px-4 py-2"
      >
        Instagram
      </label>
        <a href={import.meta.env.SECRET_INSTAGRAM_URL} target="_blank">
          <FaInstagram
            className="lg:text-4xl text-3xl hover:text-[#0ff0e59c] text-[#0ff0e579]  hover:cursor-pointer"
          />
        </a>
      </li>
      <li class="relative group">
        <label
        for="play"
        class="absolute hidden group-hover:block text-md -right-5 bg-[#0ff0e544] text-cyan-300 rounded-md -top-11 px-4 py-2"
      >
        Linkedin
      </label>
        <a href={import.meta.env.SECRET_LINKEDIN_URL} target="_blank">
          <FaLinkedin
            className="lg:text-4xl text-3xl hover:text-[#0ff0e59c] text-[#0ff0e579] hover:cursor-pointer"
          />
        </a>
      </li>
      <li class="relative group">
        <label
        for="play"
        class="absolute hidden group-hover:block text-md -right-5 bg-[#0ff0e544] text-cyan-300 rounded-md -top-11 px-4 py-2"
      >
        Github
      </label>
        <a href={import.meta.env.SECRET_GITHUB_URL} target="_blank">
          <FaGithub
            className="lg:text-4xl text-3xl hover:text-[#0ff0e59c] text-[#0ff0e579] hover:cursor-pointer z-20"
          />
        </a>
      </li>
      <li class="relative group">
        <label
        for="play"
        class="absolute hidden group-hover:block text-md -right-5 bg-[#0ff0e544] text-cyan-300 rounded-md -top-11 px-4 py-2"
      >
        Mail
      </label>
        <a href="mailto:karthikeya.enge@hotmail.com" target="_blank">
          <FaEnvelope
            className="lg:text-4xl text-3xl hover:text-[#0ff0e59c] text-[#0ff0e579]  hover:cursor-pointer"
          />
        </a>
      </li>
    </ul>
    <Picture
      src={bubble}
      alt="bub"
      class="absolute lg:h-[750px] h-[400px] w-auto lg:-left-1/4 -left-1/4 -top-32 flex-shrink-0 lg:-top-10 rotate-180 z-0 "
      formats={["avif","webp"]}
    />
    <Picture
      src={bubble}
      alt="bub"
      class="absolute lg:h-[750px] h-[450px] w-auto lg:left-3/4 left-1/2 lg:-top-1/4 top-20 rotate-60 z-0 "
      formats={["avif","webp"]}
    />

    <Picture
      src={bubble}
      alt="bub"
      class="lg:absolute lg:block hidden h-[150px] w-auto lg:left-1/2 lg:top-1/2 rotate-60 z-0"
      formats={["avif","webp"]}
    />
  </main>
</MainLayout>
