---
import {
  FaArrowLeftLong,
  FaLink,
  FaArrowUpLong,
  FaUpRightFromSquare,
  FaGithub
} from "react-icons/fa6";
import projects from "../data/projects";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="My Projects🚀">
  <main class="back  min-h-screen py-2">
    <nav class="p-2 flex w-full flex-col flex-nowrap items-center" id="top">
      <div
        class="rounded-full w-9 h-9 bg-[#1af4e624] flex justify-center items-center self-start"
      >
        <a href="/Home">
          <FaArrowLeftLong className="text-cyan-500" />
        </a>
      </div>

      <h1 class="text-cyan-500 font-krona text-center text-3xl">My Projects</h1>
    </nav>

    <section class="lg:p-10">
    <table class="table">
      <thead
        class="lg:text-xl text-md text-slate-300 top-0 sticky bg-slate-900 bg-opacity-5 backdrop-blur-md p-1"
      >
        <th>Name</th>
        <th>Year</th>
        <th >Repo</th>
        <th class="lg:table-cell hidden">Build With</th>
        <th class="lg:table-cell hidden">Link</th>
      </thead>
      <tbody>
        {
          projects.data.map((e, i) => {
            return (
              <tr class="hover:bg-[#17eaea2a] p-5">
                <td>
                  <button
                    class="font-sora-500 lg:text-sm text-xs text-cyan-500 flex gap-2 items-center flex-shrink-0 "
                    onclick={`window.model_${i}.showModal()`}
                  >
                    {e?.name}{" "}
                    <FaUpRightFromSquare className="text-sm text-slate-400" />
                  </button>

                  <dialog id={`model_${i}`} class="modal ">
                    <form
                      method="dialog"
                      class="modal-box  bg-[#8eebf336] backdrop-blur-lg bg-opacity-70"
                    >
                      <figure class="rounded-lg overflow-hidden">
                        <img
                          src={e?.img}
                          alt="course_img"
                          class=" h-fit w-auto"
                        />
                      </figure>

                      <section class="card-body font-poppins-400 text-slate-300">
                        <h1 class="card-title font-sora-500 text-3xl">{e?.name}</h1>
                        <div class="divider"></div>
                        <h3 class="card-tite text-cyan-300">Description</h3>
                        <p class="prose text-slate-300">{e?.desc}</p>
                        <h2 class="text-cyan-300">Completed Year:{e?.id}</h2>

                        <ul class="flex flow-row flex-wrap items-center">
                          <h2>Tech Stack</h2>
                          {e.stack.map((ele, i) => {
                            return (
                              <li class="rounded-full flex items-center justify-center bg-[#2ae2ec53] text-cyan-500 py-1 m-1 w-fit h-auto px-2">
                                <h4>{ele}</h4>
                              </li>
                            );
                          })}
                        </ul>

                        <a
                          href={e?.gitr}
                          target="_blank"
                          class="badge ring-0 border-none outline-none hover:text-sky-300"
                          >
                           <FaGithub className="m-1" /> Github repo
                        </a>

                        <a
                          href={e?.pro_link}
                          class="flex justify-normal gap-1 items-center hover:text-cyan-400  transition-all "
                        >
                          <FaLink />
                          Project Website
                        </a>
                      </section>
                      <div class="modal-action -mt-10">
                        <button class="btn">close</button>
                      </div>
                    </form>
                  </dialog>
                </td>

                <td>
                  <h1 class="font-krona text-cyan-500">{e.id}</h1>
                </td>

                <td>
                    <a
                          href={e?.gitr}
                          target="_blank"
                          class="badge ring-0 border-none outline-none hover:text-sky-300"
                          >
                           <FaGithub className="m-1" /> 
                        </a>
                    </td>

                <td class="lg:table-cell hidden">
                  <ul class="flex flow-row flex-wrap">
                    {e.stack.map((ele, i) => {
                      return (
                        <li class="rounded-full flex items-center justify-center bg-[#2ae2ec53] text-cyan-500 py-1 m-1 w-fit h-auto felx-wrap px-2">
                          <h4>{ele}</h4>
                        </li>
                      );
                    })}
                  </ul>
                </td>
                <td class="lg:table-cell hidden">
                    <a
                          href={e?.pro_link}
                          class="flex justify-normal gap-1 items-center hover:text-cyan-400  transition-all "
                        >
                          <FaLink/> Website Link 
                        </a>
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </section>
    <!-- <a href="#top" class="p-3 mr-4 self-end">
      <FaArrowUpLong
        className="text-xl hover:scale-y-150 hover:text-cyan-400 transition-all"
      />
    </a> -->
  </main>
</MainLayout>
