---
import data from "../data/courses";
import { FaLink, FaUpRightFromSquare, FaArrowRight } from "react-icons/fa6";
const courselist = data.courses.slice(0, 3);
---

<section class="flex flex-col gap-2 flex-nowrap w-full mt-16" id="course">
  <h2 class="font-sora-600 text-slate-100 my-2 lg:block hidden">COURSE WORK</h2>
  <h2
    class="font-sora-600 text-slate-100 my-2 lg:hidden top-0 sticky bg-slate-900 bg-opacity-10 backdrop-blur-md p-2 rounded-lg z-20"
  >
    COURSE WORK
  </h2>

  {
    courselist &&
      courselist.map((e, i) => {
        return (
          <article class=" card lg:card-side gap-3 card-compact   border border-none flex-shrink-0 shadow-lg shadow-black mt-7 image-full">
            <figure>
              <img src={e?.course_img} alt={e?.name} class="bg-white" />
            </figure>

            <section class="flex flex-col items-center justify-center gap-3 p-4 z-10">
              <h2 class="card-title flex flex-row items-center flex-wrap">
                <a
                  href={e?.course_link}
                  target="_blank"
                  class=" font-sora-600 text-slate-200 hover:text-sky-400 flex flex-row flex-nowrap gap-2 items-center"
                >
                  {e?.name}
                  <FaUpRightFromSquare className="text-sm text-slate-400" />
                </a>
              </h2>

              <p class="text-md font-poppins-400 font_shadow text-slate-200 prose">{e?.desc}</p>

              <div class="flex flex-row gap-2 items-center flex-nowrap p-2 backdrop-blur-sm bg-sky-500 bg-opacity-20 border border-sky-500 rounded-md">
                <FaLink className="text-sm text-slate-400" />
                <a href={e?.credentials} target="_blank">
                  Credentials
                </a>
              </div>
              <h1 class="text-slate-100 font-sora-500">Earned Skills:</h1>
              <ul class="flex flex-row gap-3 items-center flex-wrap justify-center">
                {e?.skills &&
                  e?.skills.map((s) => {
                    return (
                      <li class="badge ring-0 border-none outline-none   bg-cyan-400 bg-opacity-30 text-cyan-500 font-inter font-normal">
                        {s}
                      </li>
                    );
                  })}
              </ul>
            </section>
          </article>
        );
      })
  }

  <a
    class="flex items-center justify-start gap-3 w-full h-auto p-2 border-b border-cyan-500 text-cyan-500 font-poppins-400"
    href="/courses"
  >
    More
    <FaArrowRight />{" "}
  </a>
</section>
